body{
  background-image: linear-gradient(to right,rgb(7, 110, 74),rgb(12, 144, 133));
 }
 

.chessboard{
  border-spacing: 0; 
  border-collapse: collapse;
 }


.chessboard td {
  border: 1px solid; 
  width: 70px; 
  height: 70px;
 }

.chessboard .light {
  background: white;
  }

.chessboard .dark{
  background: rgb(125, 124, 124);
  }
.chessboard{
 display: flex;
 justify-content: center;
 margin-top: 50px;
}    


h1{
 text-align: center;
 font-family: "New Amsterdam", sans-serif;
 color: white;

}





